.slide {
  flex-shrink: 0; /* Prevents slides from shrinking - CRUCIAL */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 230px;
  height: 340px; /* Or your desired height */
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;

  img {
    height: 100%;
    width: auto;

    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
  }
}
